{$HTTP_ADDRESS} {
    encode gzip
    reverse_proxy http://owntrack-rs:8083
    @protected {
        not path /setup
    }
    basic_auth @protected {
        {$OTRS_USERNAME} {$OTRS_PASSWORD_HASH}
    }
}
